<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.github.adamyork.sparrow" level="INFO"/>
    <logger name="com.github.adamyork.sparrow.web" level="WARN"/>
    <logger name="com.github.adamyork.sparrow.socket" level="WARN"/>
    <logger name="com.github.adamyork.sparrow.game" level="WARN"/>
    <logger name="com.github.adamyork.sparrow.common" level="WARN"/>
    <!--    <logger name="com.github.adamyork.sparrow.socket.InputHandler" level="INFO"/>-->
    <logger name="com.github.adamyork.sparrow.game.Game" level="INFO"/>
    <!--    <logger name="com.github.adamyork.sparrow.web.ScoreHandler" level="WARN"/>-->
    <!--    <logger name="com.github.adamyork.sparrow.socket.GameHandler" level="INFO"/>-->
    <logger name="com.github.adamyork.sparrow.game.GameAudio" level="INFO"/>
    <logger name="com.github.adamyork.sparrow.game.engine.v1.DefaultEngine" level="INFO"/>
    <logger name="com.github.adamyork.sparrow.game.engine.v1.DefaultPhysics" level="INFO"/>
    <logger name="com.github.adamyork.sparrow.game.engine.v1.DefaultCollision" level="INFO"/>
    <logger name="com.github.adamyork.sparrow.game.engine.v1.DefaultParticles" level="INFO"/>
    <logger name="com.github.adamyork.sparrow.game.data.Player" level="INFO"/>
    <logger name="com.github.adamyork.sparrow.game.data.enemy.MapShooterEnemy" level="INFO"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>